@import './setup';

// variables
// $body: #333333;
// $heading: #575757;
// $body: black;
$body: white;
$heading: black;
$accent-1: #ec6e4c;
// $accent-2: #eda458;
$accent-2: rgba(0,41,66,1);
$background: linear-gradient(180deg, rgba(0,41,66,1) 13%, rgba
(0,77,119,0.9457983877144608) 100%);
$text-shadow: text-shadow 1px 1px 2px rgba(51, 51, 51, 1);

// mixins 
@mixin heading($size) {
    // color: $heading;
    font-family: 'Montserrat', sans-serif;
    font-size: $size;
    font-weight: 700;
    text-transform: uppercase;
}

@mixin body {
    color: $body;
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
}

@mixin button {
    color: #ffffff;
    border: transparent;
    text-transform: uppercase;
    border-radius: 6px;
    cursor: pointer;
}

// General styles

html {
    font-size: 125%;
}

h1,
h2,
p,
ul,
fieldset,
legend
 {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

html {
    height: 100%;
}



// Main styles

body {
    @include body;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}


main {
    // background: #fff;;
    background: transparent;
    border-radius: 5%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22);
    max-width: 1000px;
    width: 60%;
    height: 80%;
    overflow: hidden;
    margin: auto auto;
}

footer {
    background: $accent-1;
    font-size: 0.7rem;
    text-align: center;
    color: rgba(0,41,66,1);
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0.5%;
        a {
            color: rgba(0,41,66,1);
            text-decoration: underline;
        }
}

// Header styles here

header {
    text-align: center;
    padding: 1%;
    background: linear-gradient(180deg, rgba(0,41,66,1) 13%, rgba(0,77,119,0.9457983877144608) 100%);
    border-bottom: 20px solid $accent-1;
        h1 {
            @include heading(3rem);
            // color: rgba(0,41,66,1);
            color: white;
            padding: 2%;
            text-shadow: 1px 1px 2px rgba(51, 51, 51, 1);

        }
}

h2 {
    @include heading(1.2rem);
}

form {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: white;
    background: none;
        select {
            border: none;
            border-bottom: 1px solid  white;
            width: 20%;
            min-width: 120px;
            padding: 1%;
            font-size: 1rem;
            color: white;
            background: none;
        }
}

button {
    @include button;
    font-size: 1rem;
    background: rgba(0,41,66,1);
    margin-left: 2%;
    vertical-align: center;
    height: 40px;
    width: 15%;
}

.weather-description {
    font-size: 1.2rem;
    text-transform: capitalize;
}

// grid layout here
.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-areas:
    "item-1 item-1 item-1 item-1 item-1"
    ". item-2 item-2 item-2 . " 
    "item-3 item-3 item-7 item-4 item-4";
    padding: 5%;
}

.item-1 {
    grid-area: item-1;
    place-self: center;
    text-align: center;
    line-height: 2rem;
}

.item-2 {
    grid-area: item-2;
    place-self: center;
    @include heading(2rem);
}

.item-3 {
    grid-area: item-3;
    place-self: center;
    font-size: 1.2rem;
}

.item-4 {
    grid-area: item-4;
    place-self: center;
    text-align: right;
    font-size: 1.2rem;
    margin-bottom: 10%;
}

.item-7 {
    padding: 1%;
    grid-area: item-7;
    place-self: center;
    text-align: center;
}

li {
    line-height: 2rem;
}

@media (max-height: 620px) AND (min-width: 1100px) {

    body {
        @include body;
        background: linear-gradient(180deg, rgba(0,41,66,1) 13%, rgba(0,77,119,0.9457983877144608) 100%);
        background-repeat: no-repeat;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
    }

    main {
       margin: auto auto;
    }

   
    
    // Header styles here
    
    header {
       
            h1 {
                @include heading(1.5rem);
                padding: 1%;
            }
    }
    
    h2 {
        @include heading(1rem);
    }
    
    form {
        margin-top: 2%;
        font-size: 0.7rem;
        select {
            font-size: 0.7rem;
        }
    }
    
    button {
        padding: 0.5%;
        font-size: 0.7rem;
        height: 30px;
        width: 15%;
    }
    
    .weather-description {
        font-size: 0.75rem;
    }
    
    // grid layout here
    .container {
       
        grid-template-rows: 1fr 2fr;
        grid-template-areas:
        "item-1 item-1 item-1 item-1 item-2"
        "item-3 item-3 item-7 item-4 item-4";
        padding: 2%;
    }
    
    .item-1 {
        grid-area: item-1;
        place-self: center;
        text-align: left;
        line-height: 2rem;
        margin-right: 11%;
        .date {
            font-size: 0.9rem;
        }

    }
    
    .item-2 {
        
        margin-right: 50%;
        text-align: left;
        @include heading(1.5rem);
    }
    
    .item-3 {
       
        font-size: 0.9rem;
    }
    
    .item-4 {
        
        font-size: 0.9rem;
        margin-bottom: 0;
    }
    
    
    
    li {
        line-height: 1.5rem;
    }
}

@media (max-width: 1350px) {
    
    main {
      
        width: 60%;
        height: 90%;
       
    }

   
}

@media (max-width: 900px) {
 
    body {
        height:max-content;
    }
    main {
        border-radius: 0;
        width: 90%;
        height: auto;
        overflow:visible;
        margin-top: 5%;
    }
    
    // Header styles here
    
    header {
        padding: 2%;
        
            h1 {
                @include heading(2rem);
                color: white;
                padding: 1%;
                text-shadow: 1px 1px 2px rgba(51, 51, 51, 1);
    
            }
    }
    
    h2 {
        @include heading(1.5rem);
    }
    
    form {
        margin-top: 1.5%;
        text-align: center;
        font-size: 1rem;
    }
    
    button {
        @include button;
        padding: 1%;
        font-size: 0.7rem;
        background: rgba(0,41,66,1);
    }
    
    .weather-description {
        font-size: 1rem;
        text-transform: capitalize;
    }
    
    // grid layout here
    .container {
        
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 0.2fr 0.5fr 0.5fr 1fr;
        grid-template-areas:
        "item-1 item-1 item-1"
        "item-2 item-2 item-2" 
        ". item-7 ."
        "item-3 item-3 item-3"
        "item-4 item-4 item-4";
        padding: 3%;
    }
    
    .item-1 {
        grid-area: item-1;
        place-self: center;
        text-align: center;
        line-height: 2rem;
    }
    
    .item-2 {
       
        @include heading(2.5rem);
        margin-bottom: 2%;
    }
    
    .item-3 {
        grid-area: item-3;
        place-self: center;
        text-align: center;
        font-size: 1rem;
    }
    
    .item-4 {
        grid-area: item-4;
        place-self: center;
        text-align: center;
        font-size: 1rem;
    }
    
    .item-7 {
        padding: 1%;
        grid-area: item-7;
        place-self: center;
        text-align: center;
    }
    
    li {
        line-height: 1.5rem;
    }
}

@media (max-width: 420px) {
 
    body {
        height:max-content;
    }
    main {
        border-radius: 0;
        width: 90%;
        height: auto;
        overflow:visible;
        margin-top: 6%;
        margin-bottom: 8%;
    }
    
    // Header styles here
    
    header {
        padding: 4% 2% 4%;
            h1 {
                @include heading(1.5rem);
                padding: 1%;
                text-shadow: 1px 1px 2px rgba(51, 51, 51, 1);
    
            }
    }
    
    h2 {
        @include heading(0.7rem);
        
    }
  
    
    form {
        margin-top: 1.5%;
        text-align: center;
        font-size: 0.75rem;
        select {
            font-size: 0.75rem;
        }
    }
    
    button {
        border-radius: 0;
        font-size: 0.75rem;
        width: 90%;
        margin: 2% auto;
        height: 30px;
    }
    
    .weather-description {
        font-size: 0.75rem;
        text-transform: capitalize;
    }
    .weather-icon {
        display: none;
    }
    
    // grid layout here
    .container {
       
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 0.5fr 0.2fr 0.5fr 0.5fr 1fr;
        grid-template-areas:
        "item-1 item-1 item-1"
        "item-2 item-2 item-2" 
        ". item-7 ."
        "item-3 item-3 item-3"
        "item-4 item-4 item-4";
        padding: 1%;
    }
    
    .item-1 {
        grid-area: item-1;
        place-self: center;
        text-align: center;
        line-height: 1.5rem;
        .date {
            font-size: 0.7;
        }
    }
    
    .item-2 {
        
        @include heading(1rem);
    }
    
    .item-3 {
        grid-area: item-3;
        place-self: center;
        text-align: center;
        font-size: 0.75rem;
    }
    
    .item-4 {
        grid-area: item-4;
        place-self: center;
        text-align: center;
        font-size: 0.75rem;
    }
    
    .item-7 {
        padding: 1%;
        grid-area: item-7;
        place-self: center;
        text-align: center;
    }
    
    li {
        line-height: 1.5rem;
    }
}